@charset "UTF-8";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  

/* mi hoja de estilos */

.contenedor{
    width: 100%;
    margin: 0 auto;
}

.contenedor h1{
    letter-spacing: 2px;
    font-size: 22px;
    padding-bottom: 1em;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(63, 63, 63);
}

.titulos{
    display: inline-block;
    text-align: center;
    text-shadow: 3px 4px 3px black;
}

.small{
    max-width: 40px;
    border-color: #3cb2b6;
    border-width: 2px;
    margin: auto auto;
}

.titulos{
    width: 100%;
    height: 635px;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-image: url(../img/black-samsung-tablet-computer-106344.jpg);
    background-size: cover;
    animation: movimiento 10s infinite linear alternate;
} 


@keyframes movimiento{
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}

.tit1{
    padding-top: 13em;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 40px;
    color:#3cb2b6;
}

.tit2{
    font-size: 1.2em;
    color: black;
}

.ini{
    margin-bottom: 10em;
    margin: auto auto;
    margin-top: 2em;
    text-align: justify;
    max-width: 1200px;
    padding-left: 5px;
    padding-right: 5px;
}

.ini img{
    width: 100%;
    padding-top: 3em;
    margin: auto auto;
}

.prod{
    margin-top: 10em;
    margin-bottom: 10em;
    max-width: 1200px;
    margin: auto auto;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}



iframe{
    padding-top: 2em;
}

.nos{
    margin-bottom: 5em;
    background-color: #E6E6E6;
    width: 100%;
    box-shadow: -10px 10px 20px #7C7C7C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 1em 1em 1em 1em;
    border-radius: 12px;
    align-items: center;
}

.nos p{
    max-width: 1200px;
    margin: auto auto;
    text-align: justify;
}

.nos .foto-nos{
    margin: 0 auto;
    max-width: 1200px;
}

article p{
    padding-top: 1em;
}

header{
    position: fixed;
    box-shadow: -10px 10px 15px black;
    left: 0;
    top: 0;
    right: 0;
}
 
header ul li a{
    font-size: 17px;
    text-decoration: none;
    padding: 7px 20px 7px 20px;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 5px 30px 5px 30px;
    margin-top: 7px;
}

section article h1{
    text-align: center;
    margin-bottom: 15px;
    padding: 2px 0 17px 25%;
}

footer{
    background-color: black;
    width: 100%;
}

/* formulario */

.formcontacto{
    width: 50%;
    margin: 50px auto;
}

.formu{
    background-color: #E6E6E6;
    width: 100%;
    padding: 30px;
    /* con esto digo que si tiene borde o padding, que respete el tamaño */
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: -10px 10px 20px #7C7C7C;
}

.formu label{
    display: block;
    padding-bottom: 3px;
}

.formu input[type="text"], input[type="email"], .msj{
    width: 100%;
    border-radius: 10px;
    font-size: 17px;
}

.formu #mensaje{
    width: 100%;
}

.formu .boton{
    display: block;
    padding-top: 3px;
}

.boton{
    margin: 2em auto;
    font-size: 17px;
    border-radius: 12px;
}

.msj{
    border-radius: 12px;
}


 @media only screen and (max-width: 767px){

    .formu input[type="text"], input[type="email"], .msj{
        width: 100%;
        border-radius: 10px;
        font-size: 12px;
    }

    .formcontacto{
        min-width: 380px;
        margin: 50px auto;
    }    

    .tit1{
        padding-top: 11em;
        font-size: 40px;
        color:#3FD0D6;
    }

    .tit2{
        font-size: 1.2em;
        color: black;
    }
}