@charset "UTF-8";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #343A40;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  footer h5{
      color: white;
  }

  footer p{
    color: #63757D;
  }


  .containerPrice{
      margin-top: 2em;
  }

  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }

/* mi hoja de estilos */

.contenedor{
    width: 100%;
    margin: 0 auto;
}

.contenedor h1{
    letter-spacing: 2px;
    font-size: 25px;
    padding-bottom: 1em;
    text-align: center;
    text-shadow: 5px 3px 3px rgb(131, 131, 131);
}

.titulos{
    display: inline-block;
    text-align: center;
}

.small{
    max-width: 40px;
    border-color: #0069D9;
    border-width: 2px;
    margin: auto auto;
}

.separador{
  max-width: 80%;
  border-color: #a3a3a3;
  border-width: 2px;
  margin: auto auto;
  margin-bottom: 12px;
}

.foot{
  font-size: 18px;
  margin: auto auto;
}

.titulos{
    width: 100%;
    height: 635px;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    background-image: url(../img/black-samsung-tablet-computer-106344.jpg);
    background-size: cover;
    animation: movimiento 10s infinite linear alternate;
} 


@keyframes movimiento{
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}

.tit1{
    padding-top: 12em;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 40px;
    color:#343A40;
    text-shadow: 4px 3px 2px #EFEEEC;
}

.tit2{
    font-size: 1.2em;
    color: white;
    text-shadow: 4px 3px 2px black;
}

.ini{
    margin-bottom: 10em;
    margin: auto auto;
    margin-top: 2em;
    text-align: justify;
    max-width: 1200px;
    padding-left: 5px;
    padding-right: 5px;
}

.prod{
    margin-top: 10em;
    margin-bottom: 10em;
    max-width: 1200px;
    margin: auto auto;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

iframe{
    padding-top: 2em;
    margin-bottom: 2em;
}

.nos{
    margin-bottom: 5em;
    margin-top: 5em;
    padding: 5em 10em 20em 1em;
    border-radius: 20px;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    box-shadow: 15px 20px 20px black;
    margin: auto auto;
    margin-top: 2em;
    text-align: justify;
    max-width: 1200px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-shadow: 2px 2px 2px #292929;
}

.nos p{
    max-width: 1200px;
    margin: auto auto;
    text-align: justify;
}

.nos .foto-nos{
    margin: 0 auto;
    max-width: 1200px;
}

article p{
    padding-top: 1em;
}

header{
    box-shadow: -10px 10px 15px black;
    left: 0;
    top: 0;
    right: 0;
}

section article h1{
    text-align: center;
    margin-bottom: 15px;
    padding: 2px 0 17px 25%;
}

 @media only screen and (max-width: 767px){
  .tit1{
    padding-top: 10em;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 40px;
    color:#343A40;
    text-shadow: 4px 3px 2px #EFEEEC;
}

.tit2{
    font-size: 1.2em;
    color: white;
    text-shadow: 4px 3px 2px black;
}
}